.place{
  width:200px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
}
.show{
  display: block;
}

.inp{
  border: 2px solid red;
  border-radius: 3px;
  height: 36px;
}
.add{
  margin-left: 10px;
}
.delete{
  margin-left: 10px;
}
.delA{
  font-size: 18px;
}
.btnInfo{
  font-size: 18px;
  margin-left: 10px;
}
.list{
  margin-top: 30px;
  margin-bottom: -15px;
}
.goal{
  width: 350px;
}
.center-block{
  position: absolute;
  display: inline-block;
  width: 400px;
  width: 100%;
  padding: 15px 10px 10px;
  text-align: center;
}

.title{
  background-color: #1e1e29;
  color: white;
  text-align: center;
  font-family: 'Roboto';
  padding-top: 15px;
  padding-bottom: 15px;
}


